---
import Navigation from '../components/Navigation.astro'
import { Link, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component - Bishal Upadhyaya Portfolio
 * Clean, focused navigation: Home, Vibeset, Research, About
 * Note: Dark mode support removed - site defaults to light mode
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <Link href="/">Home</Link>
    </li>
    <li class="menu-item">
      <Link href="/vibeset/">Vibeset</Link>
    </li>
    <li class="menu-item">
      <Link href="/research/">Research</Link>
    </li>
    <li class="menu-item">
      <Link href="/about/">About</Link>
    </li>
    <li class="menu-item">
      <Link href="/contact/">Contact</Link>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <Link href="https://github.com/bishalu">
        <Icon aria-hidden="true" name="lucide:github" />
        <span class="sr-only">GitHub Profile</span>
      </Link>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    border: none;
    box-shadow: none;

    a {
      color: var(--color-charcoal-text) !important;
      opacity: 1 !important;
      font-weight: 500;

      &:hover,
      &:focus-visible {
        text-decoration: none;
        opacity: 0.7 !important;
      }
    }

    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
        color: var(--color-charcoal-text) !important;
        fill: currentColor;
      }
    }
  }
</style>
